<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Solicitud {{REFERENCE_NUMBER}} Cancelada - SwaplyAr</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
      font-family: 'Roboto', sans-serif;
      height: auto;
      color: #252526;
    }

    .container {
      max-width: 500px;
      margin: 0 auto;
      border-radius: 20px;
      background-color: #ffffff;
      padding: 20px 20px;
    }

    .blue-border {
      width: 100%;
      height: 8px;
      background-color: #012d8a;
      border-radius: 20px;
    }

    .header {
      padding: 10px;
      text-align: left;
    }

    .info {
      padding: 10px;
      text-align: center;
      width: 424px;
    }

    .footer,
    .social-icons,
    .transaction-info p {
      margin: 0;
      padding: 20px 0;
      border-top: 1px solid rgb(92, 124, 199);
      color: black;
    }

    .social-icons a {
      margin: 0 5px;
      text-decoration: none;
    }

    .cta-button {
      text-align: center;
      display: inline-block;
      margin: 0px 0px 16px;
      padding: 10px 20px;
      color: white;
      background-color: #012d8a;
      border-radius: 20px;
      text-decoration: none;
      font-size: 16px;
    }
  </style>
</head>

<body>
  <div class="container">
    <section class="blue-border"></section>

    <!-- Header -->
    <div class="header" style="text-align: right; font-size: 12px; color: #888; ">
      @{{MODIFICATION_DATE}} SwaplyAr | Group OA
    </div>
    <div class="headerImage" style="text-align: left; padding-right:">
      <img src="https://res.cloudinary.com/dwrhturiy/image/upload/v1725224666/logo_csfkx6.png" alt="SwaplyAr Logotipo" style="width: 200px;" />
    </div>

    <div style="text-align: center">
      <img src="https://res.cloudinary.com/dwrhturiy/image/upload/v1731499524/16_h2ulhy.png" alt="Personaje" style="max-width: 90%; height: auto" />
    </div>

    <div class="info">
      <div style="width: 424px;">
        <h1 style="margin: 0 auto; font-size: 28px; font-weight: 400; text-align: center;">Rechazada la Solicitud</h1>
        <p style="margin-block-start: 0; margin-block-end: 0; color: #012A8E; font-weight: 600; font-size: 40px;">#{{REFERENCE_NUMBER}}</p>
      </div>
    </div>

    <div style="font-size: 16px; width: 424px; margin: 0 auto; text-align: justify;">
      <p>Hola {{NAME}} {{LAST_NAME}},</p>
      <p>Le informamos que su solicitud <strong>#{{TRANSACTION_ID}}</strong> no pudo ser procesada, ya que no cumple con nuestros <a style="color: inherit; font-weight: 600; text-decoration: none;" href="{{BASE_URL}}/info/terms-and-conditions">Términos y Condiciones</a> ni con nuestra <a style="color: inherit; text-decoration: none; font-weight: 600;" href="{{BASE_URL}}/info/help-center">Política de Información</a>.</p>
      <p>Por este motivo, ha sido rechazada en nuestro sistema y, en caso de corresponder, se procederá con el reembolso a la cuenta de origen. Una vez que la transacción sea identificada en nuestro sistema y el reembolso esté en proceso, recibirá una notificación por correo electrónico.</p>
      <p>Si necesita más información, no dude en ponerse en contacto con nuestro equipo de soporte.</p>
      <p>Atentamente,<br>Soporte de SwaplyAR</p>
    </div>

    <div class="transaction-info" align="center" style="margin: 0 auto; width: 424px;">
      <p style="width: 424px; text-align: center; color: #252526; font-size: 16px; font-weight: 400; line-height: 24px; word-wrap: break-word">
        Puedes iniciar una nueva solicitud en
        <span style="display: block; margin-top: 5px;">SwaplyAr.com</span>
      </p>
    </div>

    <section style="text-align: center; width: 100%">
      <a href="{{BASE_URL}}" style="color: white" class="cta-button">SwaplyAr.com</a>
    </section>

    <!-- Links -->
    <nav>         
      <table role="presentation" style="border-top: 1px solid rgb(92, 124, 199); width: 88%; font-size: 18px; padding-bottom: 20px ;text-align: center; align-items: center; color: black; margin-left: 30px;">
        <tr>
          <td style="padding-right: 20px; padding-left: 22px; padding-top: 12px">
            <a href="{{BASE_URL}}/info/help-center" style="color: black; text-decoration: none">Contactanos</a>
          </td>
          <td style="width: 1px; background-color: rgb(92, 124, 199); position: relative; top: 5px;"></td>
          <td style="padding-left: 20px; padding-top: 12px">
            <a href="{{BASE_URL}}/info/terms-and-conditions" style="color: black; text-decoration: none">Avisos Legales</a>
          </td>
        </tr>
      </table>
    </nav>

    <section style="text-align: justify; width: 430px; margin: 0 auto; font-size: 8px; color: #888;">
      <p style="font-size: 8px;">
        Este mensaje puede contener información confidencial. No compartas información sobre esta transacción con terceros. Si no eres el destinatario indicado, notifícaselo al remitente de inmediato y borra este correo electronico de tu sistema.
      </p>
    </section>

    <section>
      <table role="presentation" style="margin-top: 20px; text-align: center">
        <tr>
          <td style="padding-right: 21px; padding-left: 11em;">
            <img src="https://res.cloudinary.com/dwrhturiy/image/upload/v1730818197/logo-solosw_b8nke4.png" alt="SwaplyAr Plus Rewards" style="width: 77px; height: auto" />
          </td>
          <td style="width: 1px; background-color: rgb(92, 124, 199)"></td>
          <td style="padding-left: 20px">
            <img src="https://res.cloudinary.com/dwrhturiy/image/upload/v1739977015/1_b6ho52.png" alt="Logo Solo" style="width: 141px; height: auto" />
          </td>
        </tr>
      </table>
    </section>

    <footer>
      <nav>
        <table role="presentation" style="width: 95%; text-align: center; padding-top: 10px;">
          <tr>
            <td>
              <a href="https://www.linkedin.com/company/swaplyar/" style="text-decoration: none">
                <img src="https://res.cloudinary.com/dwrhturiy/image/upload/v1731330495/linkedin_jhsarf.png" alt="Logo Linkedin" style="width: 28px; height: auto; margin-left: 10px" />
              </a>
              <a href="https://www.instagram.com/swaplyar/" style="text-decoration: none">
                <img src="https://res.cloudinary.com/dwrhturiy/image/upload/v1731330494/instagram_ihxf7s.png" alt="Logo Instagram" style="width: 28px; height: auto; margin-left: 10px" />
              </a>
              <a href="" style="text-decoration: none">
                <img src="https://res.cloudinary.com/dwrhturiy/image/upload/v1731330493/facebook_cqn0dm.png" alt="Logo Facebook" style="width: 28px; height: auto; margin-left: 10px" />
              </a>
              <a href="https://api.whatsapp.com/send?phone=5491123832198" style="text-decoration: none">
                <img src="https://res.cloudinary.com/dwrhturiy/image/upload/v1731330495/whatsapp_ji3tfh.png" alt="Logo WhatsApp" style="width: 28px; height: auto; margin-left: 10px" />
              </a>
            </td>
          </tr>
          <tr>
            <td style="font-size: 10px; color: rgba(203, 196, 188)">
              {{DATE_HOUR}}
            </td>
          </tr>
        </table>
      </nav>
    </footer>

    <section class="blue-border"></section>
  </div>
</body>

</html>
