<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transferencia en Camino</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
      }
      .container {
        max-width: 500px;
        margin: 20px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      .blue-border {
        border: 5px solid #012d8a;
        width: 100%;
        margin: 0 auto;
        border-radius: 5px;
      }
      .header {
        text-align: center;
        margin-bottom: 20px;
      }
      .date {
        text-align: right;
        font-size: 12px;
        color: #b1aaaa;
        margin-top: 10px;
      }
      .logo {
        width: 250px;
        display: block;
        margin: 0 40px;
      }
      .img-center {
        max-width: 70%;
        height: auto;
        display: block;
        margin: 0 auto;
      }
      .content {
        text-align: center;
      }
      .content h2 {
        color: #000;
        margin: 5px 0;
      }
      .content h3 {
        font-size: 19px;
        color: #000;
        margin: 10px 0;
      }
      .details {
        text-align: left;
        margin: 10px 0;
        color: #1d1c1c;
      }
      .details p {
        border-bottom: 1px solid #012d8a;
        margin: 5px 0;
        position: relative;
        padding-bottom: 5px;
      }
      .details p::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
      }
      .variable {
        float: right;
        text-align: right;
      }
      .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #012d8a;
        color: white;
        text-decoration: none;
        border-radius: 20px;
        font-size: 16px;
        margin: 20px 0;
        transition: background-color 0.3s ease;
      }
      .button:hover {
        background-color: #0056b3;
        color:#fff;
      }
      .footer {
        text-align: center;
        font-size: 12px;
        color: #888;
        margin-top: 20px;
      }
      .footer-links {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        
      }
      .footer-links a {
        text-align: center;
        flex: 1;
        color:#888;
        text-decoration: none;
        font-size: 14px;
        margin-top: 10px;
      }
      .footer-logo {
        width: 60px;
        margin: 20px auto;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="blue-border"></div>
      <div class="header">
        <div class="date">
          Fecha de Solicitud<br />{{DATE}}
        </div>
        <img src="https://res.cloudinary.com/dwrhturiy/image/upload/v1725224666/logo_csfkx6.png"
          alt="SwaplyAr Logotipo" class="logo" />
      </div>
      <div class="content">
        <img src="https://res.cloudinary.com/dwrhturiy/image/upload/v1725225314/rewards1_hme3sh.png"
          alt="Personaje" class="img-center" />
        <h2 style="font-weight: 400; margin-top:50px; ">Tu transferencia va en camino </h2>
        <h3 style="font-weight:400; margin-bottom:30px;">
          Solicitud: <span style="font-weight:bolder; color: #0c399c; ">#{{REFERENCE_NUMBER}}</span>
        </h3>
        <div class="details">
          <p style="padding-top: 5px; border-top: 1px solid #0c399c;"><strong>Remitente:</strong> <span class="variable">{{SENDER_NAME}} {{SENDER_LASTNAME}}</span></p>
          <p><strong>Destinatario:</strong> <span class="variable">{{RECEIVER_NAME}} {{RECEIVER_LASTNAME}}</span></p>
          <p>Monto enviado: <span class="variable">{{MONEY_SENT}} {{SENT_CURRENCY}}</span></p>
          <p>Monto a recibir: <span class="variable">{{MONEY_RECEIVED}} {{RECEIVED_CURRENCY}}</span></p>
          {{!-- <p>M茅todo de recepci贸n: <span class="variable">{{PAYMENT_METHOD}}</span></p> --}}

          {{#if BANK_NAME}}
            <p>Banco: <span class="variable">{{BANK_NAME}}</span></p>
            <p>{{SEND_METHOD_KEY}}: <span class="variable">{{SEND_METHOD_VALUE}}</span></p>
            <p>{{DOCUMENT_TYPE}}: <span class="variable">{{DOCUMENT_VALUE}}</span></p>
          {{/if}}

          {{#if PIX_KEY}}
            <p>Pix Key: <span class="variable">{{PIX_KEY}}</span></p>
            <p>Valor: <span class="variable">{{PIX_VALUE}}</span></p>
            <p>CPF: <span class="variable">{{PIX_CPF}}</span></p>
          {{/if}}

          {{#if VIRTUAL_EMAIL}}
            <p>Email: <span class="variable">{{VIRTUAL_EMAIL}}</span></p>
            <p>C贸digo Transferencia: <span class="variable">{{TRANSFER_CODE}}</span></p>
          {{/if}}

          {{#if CRYPTO_WALLET}}
            <p>Moneda: <span class="variable">{{CRYPTO_CURRENCY}}</span></p>
            <p>Red: <span class="variable">{{CRYPTO_NETWORK}}</span></p>
            <p>Wallet: <span class="variable">{{CRYPTO_WALLET}}</span></p>
          {{/if}}
        </div>
        <p style="color:#998c8c; margin-top:25px; font-size:10px">Estamos procesando tu transacci贸n. Recibir谩s una notificaci贸n cuando se complete.</p>
        <a href="https://www.swaplyar.com/es/inicio" class="button">Ir a SwaplyAr</a>
      </div>


      <div class="footer">
        <div class="thin-blue-border" style="height:1px; width:100%; border-top:1px solid #0c399c"></div>
        <div class="footer-links">
          <a href="">Cont谩ctanos</a>
          <div style="border-left: 1px solid #0c399c; height:30px; "></div>
          <a href="">Aviso Legal</a>
        </div>
      
        <img src="https://res.cloudinary.com/dwrhturiy/image/upload/v1725224752/logo-solo_dgx9c5.png"
          alt="Footer Logotipo" class="footer-logo" />
      </div>

<table cellpadding="0" cellspacing="0" border="0" align="center">
      <tr>
              <td style="text-align: center; padding: 10px 0">
                <a
                  href="https://www.linkedin.com/company/swaplyar/"
                  style="text-decoration: none"
                >
                  <img
                    src="https://res.cloudinary.com/dwrhturiy/image/upload/v1731330495/linkedin_jhsarf.png"
                    alt="Logo Linkedin"
                    style="width: 25px; height: auto"
                  />
                </a>
                <a
                  href="https://www.instagram.com/swaplyar/"
                  style="text-decoration: none"
                >
                  <img
                    src="https://res.cloudinary.com/dwrhturiy/image/upload/v1731330494/instagram_ihxf7s.png"
                    alt="Logo Instagram"
                    style="width: 30px; height: auto; margin-left: 10px"
                  />
                </a>
                <a href="" style="text-decoration: none">
                  <img
                    src="https://res.cloudinary.com/dwrhturiy/image/upload/v1731330493/facebook_cqn0dm.png"
                    alt="Logo Facebook"
                    style="width: 30px; height: auto; margin-left: 10px"
                  />
                </a>
                <a
                  href="https://api.whatsapp.com/send?phone=5491123832198"
                  style="text-decoration: none"
                >
                  <img
                    src="https://res.cloudinary.com/dwrhturiy/image/upload/v1731330495/whatsapp_ji3tfh.png"
                    alt="Logo WhatsApp"
                    style="width: 30px; height: auto; margin-left: 10px"
                  />
                </a>
              </td>
            </tr>
</table>
      <p style="justify-content:end; display:flex">漏 2024 SwaplyAr.</p>
      <div class="blue-border"></div>
    </div>
  </body>
</html>
