<!doctype html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Revisión de Pago</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
      font-family: Arial, sans-serif;
    }

    .blue-border {
      height: 8px;
      background-color: #012d8a;
      border-radius: 20px;
    }

    .container {
      max-width: 500px;
      margin: 0 auto;
      border-radius: 20px;
      background-color: #ffffff;
      padding: 20px;
    }

    .header {
      padding: 0 10px;
      text-align: left;
    }

    .footer,
    .social-icons,
    .info {
      text-align: center;
    }

    .transaction-info p {
      margin: 0;
      padding: 5px 0;
      border-top: 1px solid rgb(92, 124, 199);
      color: black;
    }

    .social-icons a {
      margin: 0 5px;
      text-decoration: none;
    }

    .cta-button {
      text-align: center;
      display: inline-block;
      margin: 20px 0;
      padding: 10px 20px;
      color: white;
      background-color: #012d8a;
      border-radius: 20px;
      text-decoration: none;
      font-size: 16px;
    }
  </style>
</head>

<body>
  <div class="container">
    <section class="blue-border"></section>

    <!-- Encabezado -->
    <div class="header" style="text-align: right; font-size: 8px; weight: 400; color: #9A9EA6">
      @2024 SwaplyAr | Group OA.
    </div>
    <div class="header">
      <img src="https://res.cloudinary.com/dwrhturiy/image/upload/v1725224666/logo_csfkx6.png" alt="SwaplyAr Logotipo"
        style="width: 200px" />
    </div>

    <!-- Imagen central -->
    <div style="text-align: center">
      <img src="https://res.cloudinary.com/dwrhturiy/image/upload/v1731499523/12_wy4j92.png" alt="Pago en Revisión"
        style="max-width: 85%; height: auto" />
    </div>

    <!-- Información Principal -->
    <div style="padding-bottom: 10px" class="info">
      <div style="width: 420px; font-size: 20px; margin: 0 auto;">
        <h2>Tu solicitud está en revisión <br> <span style="color: #012A8E;">ID de Solicitud<br> #{{REFERENCE_NUMBER}}</span> </h2>
      </div>
    </div>

    <div class="transaction-info" style="margin: 0 auto; width:424px; padding-top: 10px">
      <p>Nombre y apellido:<span style="float: right;">{{NAME}} {{LAST_NAME}}</span></p>
      <p>Monto Enviado:<span style="float: right;">{{AMOUNT_SENT}} {{SENT_CURRENCY}}</span></p>
      <p>Medio de Envío:<span style="float: right;">{{PAYMENT_METHOD}}</span></p>
      <p>Medio de Recepción:<span style="float: right;">{{RECEIVED_METHOD}}</span></p>      
      <p>Monto a Recibir:<span style="float: right;">{{AMOUNT_RECEIVED}} {{RECEIVED_CURRENCY}}</span></p>
      <p>Nombre y apellido: <span style="float: right;">{{RECEIVED_NAME}}</span></p>
      {{#if (eq RECEIVED_METHOD "pix")}}
      <p>PIX KEY:<span style="float: right;">{{PIX_KEY}}</span></p>
      <p>CPF:<span style="float: right;">{{CPF}}</span></p>
      {{/if}}
      <p style="border-bottom: 1px solid #012d8a">ID de Solicitud<span style="float: right; font-weight: 600; color: #012A8E;">#{{TRANSACTION_ID}}</span></p>
    </div>    

    <section style="text-align: center; margin-top: 10px">
      <img width="200" src="https://res.cloudinary.com/dwrhturiy/image/upload/v1732384862/plus-rewards_vmhrmg.png"
        alt="New plus reward logo" />
    </section>

    <p style="color:#5a5a5a; text-align:center; font-weight:lighter; font-size:18px">Gana mas dinero en futuras transferencias con nuestro<br>programa Plus Rewards</p>

    <div style="text-align:center">
      <a href="{{BASE_URL}}" style="color: white" class="cta-button">SwaplyAr.com</a>
    </div>

    <!-- Links -->
    <nav style="padding-top: 20px">
      <table align="center" cellpadding="0" cellspacing="0" role="presentation" style="
            padding-bottom: 20px;
            border-top: 1px solid #012d8a;
            font-size: 20px;
            text-align: center;
            color: black;
            width: 100%;
          ">
        <tr>
          <td align="center" style="padding-right: 24px; padding-top: 10px">
            <a href="{{BASE_URL}}/info/help-center" style="color: black; text-decoration: none">Centro de Ayuda</a>
          </td>
          <td align="center" style="
                width: 1px;
                background-color: #012d8a;
                position: relative;
                top: 5px;
              "></td>
          <td align="center" style="padding-left: 20px; padding-top: 10px">
            <a href="{{BASE_URL}}/info/terms-and-conditions" style="color: black; text-decoration: none">Política y
              Privacidad</a>
          </td>
        </tr>
      </table>
    </nav>

    <section class="confidential-section">
      <p>
        Este mensaje puede contener información confidencial. No compartas información sobre esta transacción con
        terceros. Si no eres el destinatario indicado, notifícaselo al remitente de inmediato y borra este correo
        electronico de tu sistema.
      </p>
    </section>

    <!-- Footer -->

    <section>
      <table align="center" cellpadding="0" cellspacing="0" role="presentation"
        style="margin-top: 20px; text-align: center">
        <tr>
          <td align="center" style="padding-right: 21px; padding-left: 17px;">
            <img src="https://res.cloudinary.com/dwrhturiy/image/upload/v1730818197/logo-solosw_b8nke4.png"
              alt="SwaplyAr" style="width: 60px; height: auto" />
          </td>
        </tr>
      </table>
    </section>

    <footer>
      <nav>
        <table align="center" cellpadding="0" cellspacing="0" role="presentation" style="
            width: 95%;
            text-align: center;
            padding-top: 10px;
          ">
          <tr>
            <td align="center">
              <a href="https://www.linkedin.com/company/swaplyar/" style="text-decoration: none">
                <img src="https://res.cloudinary.com/dwrhturiy/image/upload/v1731330495/linkedin_jhsarf.png"
                  alt="Logo Linkedin" style="width: 20px; height: auto" />
              </a>
              <a href="https://www.instagram.com/swaplyar/" style="text-decoration: none">
                <img src="https://res.cloudinary.com/dwrhturiy/image/upload/v1731330494/instagram_ihxf7s.png"
                  alt="Logo Instagram" style="width: 20px; height: auto; margin-left: 10px" />
              </a>
              <a href="" style="text-decoration: none">
                <img src="https://res.cloudinary.com/dwrhturiy/image/upload/v1731330493/facebook_cqn0dm.png"
                  alt="Logo Facebook" style="width: 20px; height: auto; margin-left: 10px" />
              </a>
              <a href="https://api.whatsapp.com/send?phone=5491123832198" style="text-decoration: none">
                <img src="https://res.cloudinary.com/dwrhturiy/image/upload/v1731330495/whatsapp_ji3tfh.png"
                  alt="Logo WhatsApp" style="width: 20px; height: auto; margin-left: 10px" />
              </a>
            </td>
          </tr>
          <tr>
            <td align="right" style="font-size: 8px; weight: 400; color: #9A9EA6">
              {{DATE_HOUR}}
            </td>
          </tr>
        </table>
      </nav>
    </footer>
      <section class="blue-border" style="margin-bottom: 20px;"></section>
  </div>
</body>

</html>
