<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Solicitud {{REFERENCE_NUMBER}} Reembolso - SwaplyAr</title>
    <style>
        body { 
            margin: 0; 
            padding: 0; 
            background-color: #f4f4f4; 
            font-family: Arial, sans-serif; 
            height: auto; 
        } 
        .container { 
            max-width: 500px; 
            margin: 0 auto; 
            border-radius: 20px; 
            background-color: #ffffff; 
            padding: 20px 20px; 
        } 
        .blue-border { 
            height: 8px; 
            background-color: #012d8a; 
            border-radius: 20px; 
        } 
        .header { 
            padding: 0 10px; 
            text-align: left; 
        } 
        .footer, .social-icons, .info { 
            text-align: center; 
        } 
        .transaction-info p { 
            margin: 0; 
            padding: 5rem 0 0 0; 
            border-top: 1px solid rgb(92, 124, 199); 
            color: black; 
        } 
        .social-icons a { 
            margin: 0 5px; 
            text-decoration: none; 
        } 
        .cta-button { 
            text-align: center; 
            display: inline-block; 
            margin: 10px 0; 
            padding: 10px 20px; 
            color: white; 
            background-color: #012d8a; 
            border-radius: 20px; 
            text-decoration: none; 
            font-size: 16px; 
        } 
        .font { 
            font-family: 'Roboto', sans-serif; 
            font-size: 13px; 
            color: rgb(100, 97, 97); 
            text-align: left; 
            margin: 0em 1em 0em 1em; 
        } 
    </style>
</head>
<body>
    <div class="container">
        <section class="blue-border"></section>
        <!-- Header -->
        <div class="header" style="text-align: right; font-size: 12px; color: #333">
            @{{MODIFICATION_DATE}} SwaplyAr | Group OA
        </div>
        <div class="header">
            <img src="https://res.cloudinary.com/dwrhturiy/image/upload/v1725224666/logo_csfkx6.png" alt="SwaplyAr Logotipo" style="width: 170px" />
        </div>
        <div style="text-align: center;">
            <img src="https://res.cloudinary.com/dwrhturiy/image/upload/v1731499524/17_a5wir1.png" alt="Personaje" style="max-width: 90%; height: auto" />
        </div>
        <div class="info">
            <div style=" font-size: 28px;;width: 424px ;margin: 0 auto;">
                Solicitud <strong style="color: #012A8E;">#{{REFERENCE_NUMBER}}</strong> se realizo el <br /> reembolso exitosamente.
            </div>
        </div>
        <div style=" margin: 0 auto;width: 424px; text-align: justify;font-size: 16px;">
            <p>Le informamos que <strong style="font-weight: 600">hemos procesado el reembolso correspondiente</strong> a la transacción realizada en nuestra plataforma. <strong style="font-weight: 600">Los fondos han sido devueltos a la cuenta de origen utilizada en la operación.</strong></p>
            <p>Tenga en cuenta que, dependiendo de los tiempos de procesamiento de su entidad financiera, el reembolso puede tardar entre <strong style="font-weight: 600">3 y 5 días hábiles en reflejarse en su cuenta.</strong> Si tiene alguna consulta adicional o necesita asistencia, no dude en ponerse en contacto con nuestro equipo de atención al cliente.</p>
            <p>Agradecemos su confianza en SwaplyAr y quedamos a su disposición.</p>
            <div class="transaction-info" align="center">
                <p style="font-size: 12px;"> Si desea iniciar una nueva transferencia ingrese en SwaplyAr.com</p>
            </div>
            <section style="text-align: center; width: 100%">
                <a href="{{BASE_URL}}" style="color: white" class="cta-button">SwaplyAr.com</a>
            </section>
            <!-- Links -->
            <nav>
                <table align="center" cellpadding="0" cellspacing="0" role="presentation" style=" border-top: 1px solid rgb(92, 124, 199); font-size: 18px; text-align: center; color: black; width: 410px; ">
                    <tr>
                        <td align="right" style="padding-right: 20px; padding-left: 22px; padding-top: 12px">
                            <a href="{{BASE_URL}}/info/help-center" style="color: black; text-decoration: none">Centro de Ayuda </a>
                        </td>
                        <td align="center" style=" width: 1px; background-color: rgb(92, 124, 199); position: relative; top: 5px; "></td>
                        <td align="left" style="padding-left: 20px; padding-top: 12px">
                            <a href="{{BASE_URL}}/info/terms-and-conditions" style="color: black; text-decoration: none">Avisos Legales</a>
                        </td>
                    </tr>
                </table>
            </nav>
            <section style="text-align:justify ; width: 430px; margin: 0 auto; font-size: 8px; color: #888; ">
                <p style="font-size: 12px;"> Este mensaje puede contener información confidencial. No compartas información sobre esta transacción con terceros. Si no eres el destinatario indicado, notifícaselo al remitente de inmediato y borra este correo electronico de tu sistema. </p>
            </section>
            <section>
                <table align="center" cellpadding="0" cellspacing="0" role="presentation" style="margin-top: 20px; text-align: center">
                    <tr>
                        <td align="center" style="padding-right: 21px; padding-left: 4rem;">
                            <img src="https://res.cloudinary.com/dwrhturiy/image/upload/v1730818197/logo-solosw_b8nke4.png" alt="SwaplyAr Plus Rewards" style="width: 77px; height: auto" />
                        </td>
                        <td align="center" style="width: 1px; background-color: rgb(92, 124, 199)"></td>
                        <td align="center" style="padding-left: 20px">
                            <img src="https://res.cloudinary.com/dwrhturiy/image/upload/v1739977015/1_b6ho52.png" alt="Logo Solo" style="width: 141px; height: auto" />
                        </td>
                    </tr>
                </table>
            </section>
            <footer>
                <nav>
                    <table align="center" cellpadding="0" cellspacing="0" role="presentation" style=" width: 95%; text-align: center; padding-top: 10px; ">
                        <tr>
                            <td align="center">
                                <a href="https://www.linkedin.com/company/swaplyar/" style="text-decoration: none">
                                    <img src="https://res.cloudinary.com/dwrhturiy/image/upload/v1731330495/linkedin_jhsarf.png" alt="Logo Linkedin" style="width: 28px; height: auto; margin-left: 10px" />
                                </a>
                                <a href="https://www.instagram.com/swaplyar/" style="text-decoration: none">
                                    <img src="https://res.cloudinary.com/dwrhturiy/image/upload/v1731330494/instagram_ihxf7s.png" alt="Logo Instagram" style="width: 28px; height: auto; margin-left: 10px" />
                                </a>
                                <a href="" style="text-decoration: none">
                                    <img src="https://res.cloudinary.com/dwrhturiy/image/upload/v1731330493/facebook_cqn0dm.png" alt="Logo Facebook" style="width: 28px; height: auto; margin-left: 10px" />
                                </a>
                                <a href="https://api.whatsapp.com/send?phone=5491123832198" style="text-decoration: none">
                                    <img src="https://res.cloudinary.com/dwrhturiy/image/upload/v1731330495/whatsapp_ji3tfh.png" alt="Logo WhatsApp" style="width: 28px; height: auto; margin-left: 10px" />
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" style="font-size: 10px; color: rgba(203, 196, 188)"> {{DATE_HOUR}} </td>
                        </tr>
                    </table>
                </nav>
            </footer>
            <section class="blue-border"></section>
        </div>
    </div>
</body>
</html>
