<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reembolso en Camino</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
      }
      .container {
        max-width: 500px;
        margin: 20px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      .blue-border {
        border: 5px solid #c0392b;
        width: 75%;
        margin: 0 auto;
      }
      .header {
        text-align: center;
        margin-bottom: 20px;
      }
      .date {
        text-align: right;
        font-size: 12px;
        color: #333;
        margin-top: 20px;
      }
      .logo {
        width: 200px;
        display: block;
        margin: 0 auto;
      }
      .img-center {
        max-width: 50%;
        height: auto;
        display: block;
        margin: 0 auto;
      }
      .content {
        text-align: center;
      }
      .content h2 {
        color: #000;
        margin: 5px 0;
      }
      .content h3 {
        font-size: 19px;
        color: #c0392b;
        margin: 10px 0;
      }
      .details {
        text-align: left;
        margin: 10px 0;
      }
      .details p {
        line-height: 1.6;
        margin: 5px 0;
        position: relative;
        padding-bottom: 5px;
      }
      .details p::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #000;
      }
      .variable {
        float: right;
        text-align: right;
      }
      .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #c0392b;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-size: 16px;
        margin: 10px 0;
        transition: background-color 0.3s ease;
      }
      .button:hover {
        background-color: #922b21;
      }
      .footer {
        text-align: center;
        font-size: 12px;
        color: #888;
        margin-top: 20px;
      }
      .footer-links {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
      }
      .footer-links a {
        text-align: center;
        flex: 1;
      }
      .footer-logo {
        width: 40px;
        margin: 10px auto;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="blue-border"></div>
      <div class="header">
        <div class="date">
          Fecha del Reembolso<br />{{DATE}}
        </div>
        <img src="https://res.cloudinary.com/dwrhturiy/image/upload/v1725224666/logo_csfkx6.png"
          alt="SwaplyAr Logotipo" class="logo" />
      </div>
      <div class="content">
        <img src="https://res.cloudinary.com/dwrhturiy/image/upload/v1725225314/rewards1_hme3sh.png"
          alt="Personaje" class="img-center" />
        <h2>Tu reembolso está en camino 💸</h2>
        <h3>
          Número de referencia<br />{{REFERENCE_NUMBER}}
        </h3>
        <div class="details">
          <p><strong>Titular:</strong> <span class="variable">{{SENDER_NAME}} {{SENDER_LASTNAME}}</span></p>
          <p>Monto a reembolsar: <span class="variable">{{REFUND_AMOUNT}} {{REFUND_CURRENCY}}</span></p>
          <p>Método de reembolso: <span class="variable">{{PAYMENT_METHOD}}</span></p>

          {{#if BANK_NAME}}
            <p>Banco: <span class="variable">{{BANK_NAME}}</span></p>
            <p>{{SEND_METHOD_KEY}}: <span class="variable">{{SEND_METHOD_VALUE}}</span></p>
            <p>{{DOCUMENT_TYPE}}: <span class="variable">{{DOCUMENT_VALUE}}</span></p>
          {{/if}}

          {{#if PIX_KEY}}
            <p>Pix Key: <span class="variable">{{PIX_KEY}}</span></p>
            <p>Valor: <span class="variable">{{PIX_VALUE}}</span></p>
            <p>CPF: <span class="variable">{{PIX_CPF}}</span></p>
          {{/if}}

          {{#if VIRTUAL_EMAIL}}
            <p>Email: <span class="variable">{{VIRTUAL_EMAIL}}</span></p>
            <p>Código Transferencia: <span class="variable">{{TRANSFER_CODE}}</span></p>
          {{/if}}

          {{#if CRYPTO_WALLET}}
            <p>Moneda: <span class="variable">{{CRYPTO_CURRENCY}}</span></p>
            <p>Red: <span class="variable">{{CRYPTO_NETWORK}}</span></p>
            <p>Wallet: <span class="variable">{{CRYPTO_WALLET}}</span></p>
          {{/if}}
        </div>
        <p>Estamos procesando tu reembolso. En breve verás acreditado el dinero en tu cuenta ✅</p>
        <a href="https://swaplyar.vercel.app" class="button">Ir a SwaplyAr</a>
        <a href="https://swaplyar.vercel.app/info/help-center" class="button">Centro de Ayuda</a>
      </div>
      <div class="footer">
        <div class="footer-links">
          <a href="#">Contáctanos</a>
          <a href="#">Aviso Legal</a>
        </div>
        <p>© 2024 SwaplyAr.</p>
        <img src="https://res.cloudinary.com/dwrhturiy/image/upload/v1725224752/logo-solo_dgx9c5.png"
          alt="Footer Logotipo" class="footer-logo" />
      </div>
      <div class="blue-border"></div>
    </div>
  </body>
</html>
